---
//* Style Imports
// import '../styles/global.css';

//* Components Imports
import Music from '../components/music.astro'
import Home from '../components/home.astro'
////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////
---
<main>
	<Music id='q' music='sounds/drum-1.mp3'/>
	<Music id='w' music='sounds/drum-2.mp3'/>
	<Music id='e' music='sounds/drum-3.mp3'/>
	<Music id='r' music='sounds/drum-4.mp3'/>
	<Music id='t' music='sounds/drum-5.mp3'/>
	<Music id='z' music='sounds/drum-6.mp3'/>
	<Music id='u' music='sounds/drum-7.mp3'/>

	<Music id='a' music='sounds/A0.mp3'/>
	<Music id='s' music='sounds/A1.mp3'/>
	<Music id='d' music='sounds/A2.mp3'/>
	<Music id='f' music='sounds/A3.mp3'/>
	<Music id='g' music='sounds/A4.mp3'/>
	<Music id='h' music='sounds/A5.mp3'/>
	<Music id='j' music='sounds/A6.mp3'/>
	<Music id='k' music='sounds/A7.mp3'/>

	<Home/>
</main>
