<html lang="en">

<head>
  <meta charSet="utf-8">
  <title>Cimdata - Projekt</title>
  <link rel="icon" type="image/x-icon" href="https://f000.backblazeb2.com/file/xmtunesx/favicon.ico"/>
  <link  rel="stylesheet" href="https://f000.backblazeb2.com/file/xmtunesx/global.css"/>
</head>

<body>
  <!--* Canvas -->
  <canvas id="canvas" height="500" width="1000"></canvas>

  <!-- <button id="btn">START - STOP</button> -->

  <!--* Drum -->
  <h1 id="title">Drum 🥁 Kit</h1>
  <div class="drum" allow="autoplay">
    <button id="q" class="q drumkit"
      style="background-image: url('images/drum-1.png');background-repeat: no-repeat;">q</button>
    <button id="w" class="w drumkit"
      style="background-image: url('images/drum-2.png');background-repeat: no-repeat;">w</button>
    <button id="e" class="e drumkit"
      style="background-image: url('images/drum-3.png');background-repeat: no-repeat;">e</button>
    <button id="r" class="r drumkit"
      style="background-image: url('images/drum-4.png');background-repeat: no-repeat;">r</button>
    <button id="t" class="t drumkit"
      style="background-image: url('images/drum-5.png');background-repeat: no-repeat;">t</button>
    <button id="z" class="z drumkit"
      style="background-image: url('images/drum-6.png');background-repeat: no-repeat;">z</button>
    <button id="u" class="u drumkit"
      style="background-image: url('images/drum-7.png');background-repeat: no-repeat;">u</button>
  </div>



  <!--* Piano -->
  <h1 class="title">Piano 🎹 Kit</h1>
  <div class="piano">
    <div id="a" class="a white black"><h3>a</h3></div>
    <div id="s" class="s white black"><h3>s</h3></div>
    <div id="d" class="d white"><h3>d</h3></div>
    <div id="f" class="f white black"><h3>f</h3></div>
    <div id="g" class="g white black"><h3>g</h3></div>
    <div id="h" class="h white black"><h3>h</h3></div>
    <div id="j" class="j white"><h3>j</h3></div>
    <div id="k" class="k white"><h3>k</h3></div>
  </div>

  <!--<br/> &nbsp; -->

  <!--* Footer -->
  <footer>
    <div class="cimdata">
      <span style="color:#f10">㉿</span>
      <span style="color:#fff;">C</span>
      <span style="color:#f00;">I</span>
      <span style="color:#fff;">M</span>
      <span style="color:#f00;">D</span>
      <span style="color:#fff;">A</span>
      <span style="color:#f00;">T</span>
      <span style="color:#fff;">A</span>
      <span style="color:#f10">㉿</span>
    </div>
    <span id="antje" style="color:#f09;">PROJEKTWOCHE MIT ANTJE</span>
  </footer>
<script src="https://cdn.jsdelivr.net/gh/foobar404/wave.js/dist/bundle.iife.js"></script>
<script src="https://f000.backblazeb2.com/file/xmtunesx/index.js"></script>
<script src="https://f000.backblazeb2.com/file/xmtunesx/main.js"></script>

</body>

</html>